name: Hello World

on:
  workflow_dispatch:
    inputs:
      message:
        description: "Message to print"
        required: true
        type: string

  push:
    branches:
      - main

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Print Message
        run: |
          echo "Message: ${{ inputs.message }}"
          echo "Triggered by: ${{ inputs.triggered_by || 'Manual trigger' }}"
